//variable background
$bg-haeder: #f4f7f6;
$bg-btn: #49c5b6;
$bg-white: #ffffff;
// variable color
$color-black-0: #29303b; // default
$color-white-0: #fff; //default
$color-red-0: #ec5252;
$color-red-1: #521822;
$color-purple: #6e1a52;
$color-gray-1: rgba(20, 23, 28, 0.05);
$color-gray-2: #a1a7b3;
$color-gray-3: #cacbcc;
$color-gray-4: #686f7a;
$color-gray-5: #f7f8fa;
$color-black-light: #505763;
$color-white-cream: #f2f3f5;
$color-black-dark: rgba(20, 23, 28, 0.1);
$color-yellow: #f4c150;
$color-blue: #007791;
$color-hover: #49c5b6;
// variable font-size
$fs-0: 15px; //default
$fs-1: 13px;
$fs-2: 20px;
$fs-3: 22px;
$fs-4: 24px;
$fs-5: 28px;
$fs-8: 40px;
$fs-9: 50px;
$fs-10: 70px;
//Còn 1 font-size: 36px;
$fs-4: 40px;
//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 15px;
$mg-3: 20px;
$mg-4: 25px;
$mg-50: 50px;
//variable border-radius
$border-radius: 2px;
$border-radius-5: 5px;
$border-radius-20: 20px;
$border-radius-30: 30px;
//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 20px 0;
$pd-4: 50px;
$pd-5: 30px;
//variable line-height
$line-height-0: 1.43; //default
//variable font-weight
$fw-normal: normal;
$fw-400: 400;
$fw-500: 500;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;
//break points
$breakpoints: (
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
);
//variable display
$d-flex: flex;
$d-block: block;
$d-grid: grid;
//variable width
$w-25: 25%;
$w-30: 30%;
$w-35: 35%;
$w-45: 45%;
$w-50: 50%;
$w-53: 53%;
$w-55: 55%;
$w-60: 60%;
$w-65: 65%;
$w-70: 70%;
$w-75: 75%;
$w-80: 80%;
$w-90: 90%;
$w-100: 100%;
//variable background
$bg-repeat: no-repeat;
$bg-cover: cover;
//variable align
$t-center: center;
$t-left: left;
$t-right: right;
$t-justify: justify;
//variable position
$position: relative;
$position-1: absolute;
